* {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	line-height: 0.8;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	font-weight: 700;
}

body {
	overflow: hidden;
}

.home {
	background-color: azure;
	height: 100vw;
	width: 100vw;
	display: flex;
	flex-direction: column;
	
}

.home .template {
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px 10px;
	border: 1px solid skyblue;
	padding: 2rem;
}

.textInput {
	width: 100%;
	height: 2rem;
	border: 1px solid skyblue;
	border-radius: 10px 10px;
	font-size: 1rem;
	background-color: beige;
}

.bnk {
	border: 1px solid black;
	padding: 1rem;
	background-color: skyblue;
}
